In [24]:
# Functions
def fun():
    print("have fun you good boy")
fun()

have fun you good boy

In [1]:
n = int(input())
count = 0
while(count<n):
    print(n)
    n = n-1
count= count+1

 7

7
6
5
4
3
2
1

In [31]:
def myFun(x,y=50):
    """heck this thing"""
    print("x", x)
    print("y", y)
print(myFun(40).__doc__)

x 40
y 50
None

In [35]:
def operation(a,b):
    add = a+b
    sub = a-b
    mul = a*b
    div = a/b
    print(f"addition={add}, difference={sub}, multiplication={mul}, division={div}")
operation(88,25)

addition=113, difference=63, multiplication=2200, division=3.52

In [43]:
list = [1,5,4,7,9]
a = int(input("enter the number you want to append: "))

list.append(a)
print(list)
list.sort()
print(list)

enter the number you want to append:  45

[1, 5, 4, 7, 9, 45]
[1, 4, 5, 7, 9, 45]

In [3]:
my_tuple = (2,4,5,6,7)
my_list = list(my_tuple)

indexTOchange = int(input())
value = int(input())
my_list[indexTOchange] = value

my_tuple = tuple(my_list)

print(my_tuple)

 2
 2522

(2, 4, 2522, 6, 7)

In [3]:
set1 = {1,2,4,5,6}
a = int(input())
set1.add(a)
print(set1)

 96

{96, 1, 2, 4, 5, 6}

In [7]:
dict1 = {'ritesh':10, 'james':52,'hitu':56,'ithu':55, 'kitur':89}
name = input()
dict1[name] = 65
print(dict1)

 ritesh

{'ritesh': 65, 'james': 52, 'hitu': 56, 'ithu': 55, 'kitur': 89}

In [43]:
strd = input()
print(strd[::-1])
vowels = 'aeiouAEIOU'
count = 0

for l in strd:
    if l in vowels:
        print(l)
        count+=1

if count == 0:
    print("no vowels")
else:
    print(f"no.of vowels = {count}")

 ritehsh

hshetir
i
e
no.of vowels = 2

In [77]:
a, c = input("enter your name and city by giving a space").split()
b = int(input("enter your age"))
if b>=18:
    dict1 = {"name": a, "age": b, "city": c}
    print(dict1)
else:
    print("you are not eligible")

enter your name and city by giving a space rithesh hyderabad
enter your age 34

{'name': 'rithesh', 'age': 34, 'city': 'hyderabad'}

In [90]:
def operations(a,b):
    return a+b,a-b,a*b,a/b

add,sub,mul,div = operations(1,2)
list1 = [add, sub, mul, div]
print(list1)

[3, -1, 2, 0.5]

In [21]:
set1 = {1, 2, 3, 4, 5}
while len(set1) < 10:
    a = int(input("Enter a number: "))
    if a in set1:
        print(f"{a} is already in the set, skipping...")
        continue
    set1.add(a)
    print(f"Updated set: {set1}")

Enter a number:  4

4 is already in the set, skipping...

Enter a number:  6

Updated set: {1, 2, 3, 4, 5, 6}

Enter a number:  9

Updated set: {1, 2, 3, 4, 5, 6, 9}

Enter a number:  12

Updated set: {1, 2, 3, 4, 5, 6, 9, 12}

Enter a number:  45

Updated set: {1, 2, 3, 4, 5, 6, 9, 12, 45}

Enter a number:  14

Updated set: {1, 2, 3, 4, 5, 6, 9, 12, 14, 45}